/*********************************************************************/
/* Public area */
/*********************************************************************/
.publicHeader {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 75px;
}

.publicHeader button {
    float: right;
}

.contentPublic {
    max-width: 800px;
    margin: 0 auto;
}

.field input {border-color: rgba(0,0,0, 0.3);}

/*********************************************************************/
/* .feedback */
/*********************************************************************/
.feedback {
    max-width: 350px;
    margin: 0 auto;
}

.feedback .message p {
    font-size: 1.5em;
}

.field.error > input,
.field.error ::-webkit-input-placeholder {
    color: #fc5858;
    border-color: #fc5858;
    background-color: #F0B7B7;
}

/*********************************************************************/
/* .box */
/*********************************************************************/
.box {
    position: relative;
    max-width: 350px;
    padding: 102px 20px 20px 20px;
    margin: 0 auto;
    border-radius: 4px;
background-color: #ffffff;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(235, 235, 235)));
background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
background-image: linear-gradient(top, rgb(255, 255, 255), rgb(235, 235, 235));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ebebeb');
    box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
}

.box header {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: -10px;
    right: -10px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
                0 -1px 0 rgba(95, 110, 55, 0.3) inset,
                0 0 3px rgba(0,0,0, 0.3);
background-color: #bae193;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(186, 225, 147)), to(rgb(166, 211, 117)));
background-image: -webkit-linear-gradient(top, rgb(186, 225, 147), rgb(166, 211, 117));
background-image: -moz-linear-gradient(top, rgb(186, 225, 147), rgb(166, 211, 117));
background-image: -o-linear-gradient(top, rgb(186, 225, 147), rgb(166, 211, 117));
background-image: -ms-linear-gradient(top, rgb(186, 225, 147), rgb(166, 211, 117));
background-image: linear-gradient(top, rgb(186, 225, 147), rgb(166, 211, 117));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bae193', EndColorStr='#a6d375');
}

.box header h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.box h2 {
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 20px;
    right: 20px;
    text-align: center;
    padding: 10px;
}

.box.login h2,
.box.newUser h2,
.box.forgotPassword h2 {
	font-size: 1.5em;
}

.box.newUser > form,
.box.forgotPassword form{
    margin-top: 20px;
}

.box.login .field,
.box.newUser .field,
.box.forgotPassword .field {
    margin-bottom: 20px;
}

.box.login .field input,
.box.newUser .field input,
.box.forgotPassword .field input {
    display: block;
    width: 100%;
    font-size: 1.5em;
}

.box.login .field input:focus,
.box.newUser .field input:focus {border-color: rgba(0,0,0, 0.7);}

.box.login .actions button,
.box.newUser .actions button,
.box.forgotPassword .actions button {
    float: right;
}

.newUser .actions .back {
    display: block;
    float: left;
}

/*********************************************************************/
/* .forgot */
/*********************************************************************/
.forgot {
    max-width: 350px;
    padding: 20px 0 0 0 ;
    margin: 0 auto;
    text-align: center;
}

.forgot a {
    display: inline-block;
    font-size: 1.4em;
    padding: 0 10px;
}