/* ==========================================================================
   Basics
   ========================================================================== */
* {
  position:relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
/*  box-shadow: inset 0px 250px 0px 0px rgba(60, 173, 113, 1.0);*/
/*  box-shadow: inset 0px 250px 0px 0px rgba(139, 175, 159, 1.0);*/
/*  box-shadow: inset 0px 250px 0px 0px rgba(148, 176, 145, 1.0);*/
  box-shadow: inset 0px 250px 0px 0px rgba(230, 230, 230, 1.0);
}

html,
body,
.wrapper,
.content,
.page {height: 100%;}

.wrapper {
  padding: 50px;
  min-height: 100%;
  overflow: hidden;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  padding: 20px 50px;
  z-index:50;
}

/* Logo
   ========================================================================== */
.logo {
  float:left;
  display:inline-block;
}

.logo img {display:inline-block;}
/* Provisory Logo
   ========================================================================== */
.logo {
  text-decoration:none;
  color: rgba(60, 173, 113, 1.0);
  font-size:2em;
}

/* User
   ========================================================================== */
.user {
  width: 100px;
  text-align: right;
  background: rgba(60, 173, 113, 1.0);
  border: solid 1px #fff;
  padding: 5px;
  float: right;
  z-index:100;
}

.user > a {
  color: #fff;
  text-decoration:none;
}

.user:hover ul {display:block;}

.user ul {
  display:none;
  padding: 5px 0 0 0;
  border-top:solid 1px #ccc;
  margin:0;
}

.user li {
  list-style-type:none;
  display:block;
  width:100%;
  padding: 2px 3px;
  cursor:pointer;
}

.user li:hover {background:#ddd;}

/* ==========================================================================
   Body
   ========================================================================== */
/* Options
   ========================================================================== */
.types {
  float:right;
  margin-top:50px;
}

.types li {
  float:left;
  list-style-type:none;
  margin-left:30px;
  cursor:pointer;
  color: rgba(38, 126, 73, 1.0);
}

/* Pages
   ========================================================================== */
.page {
  background: #fff;
  width: 100%;
  padding: 30px;
  display:block;
  height:85%;
}

.page,
.page:after,
.page:before {
  border: solid 1px #b4b4b4;
}

.page:after,
.page:before {
  content:'';
  display:inline-block;
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
}

.page:after {
  background:#eee;
  left:10px;
  top:10px;
}

.page:before {
 background:#ddd;
  left:20px;
  top:20px;
}

/* Tabs
   ========================================================================== */
.tabs {
  margin: 30px 0 0 5px;
  display:inline-block;
}

.tabs a {
  display:inline-block;
  padding: 5px 10px;
  background:rgba(60, 173, 113, 1.0);
  text-decoration:none;
  color: #333;
  padding:5px 30px;
  border: solid 1px #fff;
  margin:10px -5px;
  color: #fff;
}

.tabs a:after,
.tabs a:before {
  content: '';
  display: inline-block;
  position: absolute;
  background: rgba(60, 173, 113, 1.0);
}

.tabs a:after {
  width: 20px;
  height: 20px;
  left: 100%;
  top: 4px;
  border: #fff;
  box-shadow: 1px -1px 0px 0px #fff;
  margin-left: -10px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1;
}

.tabs a:before {
  width: 15px;
  height: 100%;
  background: rgba(60, 173, 113, 1.0);
  right: 0;
  top: 0;
  z-index: 2;
}










