<!doctype html>
<html lang="en" ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/main.js"></script>
    <meta charset="UTF-8">
    <title>BrModelo</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper" ng-controller="MainCtrl">
      <header>
   <!-- <a class="logo" href="index.html"><img src="img/#" alt="BrModelo" /></a> -->
        <a class="logo" href="index.html">BRmodelo</a>
        <div class="user">
          <a href="#">User</a>
          <ul class="files">
            <li>File 1</li>
            <li>File 2</li>
            <li>File 3</li>
            <li>File 4</li>
            <li>File 5</li>
          </ul>
        </div>
      </header>
      <nav class="tabs" ng-repeat="model in models">
        <a>{{model.text}}</a>
      </nav>
      <ul class="types">
        <li ng-click="addModelLogico()">+ Lógico</li>
        <li ng-click="addModelConceitual()">+ Conceitual</li>
      </ul>
      <div class="content">
     
          <div class="page"/>
     
      </div> <!-- /#content -->
    </div> <!-- /.wrapper -->
  </body>
</html>