
	<header class="alternativeHeader">
		<nav>
			<a href="#">Como Funciona</a>
			<a href="#">Sobre</a>
			<a href="#">Contato</a>
		</nav>
        <button type="button" class="button" ng-click="register()" >Criar conta</button> 
	</header> <!-- End .mainHeader -->

<div class="contentLogin" > 
  
  <div class="loginheader">
    <h2> brModelo </h2>
  </div> <!-- End .header -->

  <div class="fieldGroup"> 
    
    <div class="field login"> 
      <input type="text" placeholder="Email" name="login" tabindex="1" ng-model="user.mail" id="emailfield" value="">
    </div>  
    
    <div class="field senha">
      <input type="password" placeholder="Senha" name="password" tabindex="2" ng-model="user.password" id="passwordfield" value="">
    </div>  
    
    <div class="field acoes">    
      <button type="button" class="button" tabindex="3" ng-click="login(user)">Entrar</button> 
    </div>
    
  </div>
  
  <div class="control">
    <a>Esqueceu sua senha?</a> 
  </div>
    
</div>