
	<header class="mainHeader cf">
		<h1><a href="#">brModelo</a></h1>
		<nav>
			<a href="#">Como Funciona</a>
			<a href="#">Sobre</a>
			<a href="#">Contato</a>
		</nav>
		<aside class="userInfo">
            <i class="fa fa-wrench"></i>
<!--			<img src="imgs/user.jpg" alt="Milton" />-->
			<div class="options">
				<a href="#">Perfil</a>
				<a href="#">Logout</a>
			</div> <!-- End .options -->
		</aside> <!-- End .userInfo -->
	</header> <!-- End .mainHeader -->

<div class="contentRegister" > 
  
  <div class="loginheader">
    <h2> brModelo </h2>
  </div> <!-- End .header -->

  <div class="registerGroup"> 
    
    <div class="field"> 
      <input type="text" placeholder="Nome" name="login" tabindex="1" ng-model="register.name" id="emailfield" value="">
    </div>  
    
    <div class="field"> 
      <input type="text" placeholder="Email" name="login" tabindex="1" ng-model="register.mail" id="emailfield" value="">
    </div>  
      
    <div class="field">
      <input type="password" placeholder="Senha" name="password" tabindex="2" ng-model="register.password" id="passwordfield" value="">
    </div>
      
    <div class="field">
      <input type="password" placeholder="Confirme senha" name="password" tabindex="2" ng-model="register.confirmation" id="passwordfield" value="">
    </div>  
    
    <div class="control">    
      <a>Cancelar</a>    
      <button type="button" class="button" tabindex="3" ng-click="login(user)">Registrar</button> 
    </div>
    
  </div>
  
</div>