	<header class="alternativeHeader">
		<nav>
			<a href="#">Como Funciona</a>
			<a href="#">Sobre</a>
			<a href="#">Contato</a>
		</nav>
        <button type="button" class="button" ng-click="login()">Login</button> 
	</header> <!-- End .mainHeader -->

<div class="contentRegister" > 
  
  <div class="loginheader">
    <h2> brModelo </h2>
  </div> <!-- End .header -->

  <div class="registerGroup"> 
    
    <div class="field"> 
      <input type="text" placeholder="Nome" name="login" tabindex="1" ng-model="user.name" id="regName" value="">
    </div>  
    
    <div class="field"> 
      <input type="text" placeholder="Email" name="login" tabindex="1" ng-model="user.mail" id="regMail" value="">
    </div>  
      
    <div class="field">
      <input type="password" placeholder="Senha" name="password" tabindex="2" ng-model="user.password" id="regPassword" value="">
    </div>
      
    <div class="field">
      <input type="password" placeholder="Confirme senha" name="password" tabindex="2" ng-model="user.confirmation" id="regRePassword" value="">
    </div>  
    
    <div class="control">    
      <a ng-click="login()">Cancelar</a>    
      <button type="button" class="button" tabindex="3" ng-click="register(user)" >Registrar</button> 
    </div>
    
  </div>
  
</div>